.App {
  text-align: center;
}

.App h1, h2 {
  color: #276695;
}

.App input {
  background-color: #90bde7;
  color: #ffffff;
  border: none;
}

.App .addEventButton {
  background-color: #012a51;
  color: #ffffff;
}

.App button {
  color: #0f0a0a;
}